*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #5bacba;
}
.card {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}
.top {
  height: 100px;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-color: #5bacba;
  opacity: 0.5;
  background-image: linear-gradient(135deg, #446740 25%, transparent 25%),
    linear-gradient(225deg, #446740 25%, transparent 25%),
    linear-gradient(45deg, #446740 25%, transparent 25%),
    linear-gradient(315deg, #446740 25%, #5bacba 25%);
  background-position:
    26px 0,
    26px 0,
    0 0,
    0 0;
  background-size: 52px 52px;
  background-repeat: repeat;
  z-index: 1;
}
.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 200px;
}

.card-img {
  margin-top: -60px;
  border-radius: 50%;
  border: 3px solid white;
  height: 150px;
  z-index: 2;
  margin-bottom: 20px;
}
.middle-des {
  font-size: 22px;
}
.bottom {
  display: flex;
  gap: 10px;
  margin-top: 30px;
  border-top: 1px solid rgb(174, 172, 172);
  flex: 1;
}
.colum {
  padding: 18px;
  flex: 1;
}
.colum:nth-child(1) {
  border-right: 1px solid rgb(174, 172, 172);
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.icon {
  height: 20px;
  width: 20px;
}
.username {
  font-size: 18px;
}
