
*, *::before, *::after {
box-sizing: border-box;
}
* {
margin: 0;
}
body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}

input, button, textarea, select {
font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}

#root, #__next {
isolation: isolate;
}
.container{ 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #e5e5f7;
   
}
.card { 
    display: flex;
    flex-direction: column;
    min-width: 350px;
    border-radius: 10px;
    overflow: hidden;
}
.top { 
    height: 100px;
    background-color: #000000;
    opacity: 1;
    background-image: radial-gradient(#000000 0.45px, #000000 0.45px);
    background-size: 9px 9px;
    z-index: 1;
}
.middle{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}
.card-img{ 
    margin-top: -60px;
    border-radius: 50%;
    height:200px;
    z-index: 2;

}